:root {
  --main-color: #e3e8e4;
  --primary-color: #363636;
  --main-font: "Playfair Display SC", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;

}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 2rem;
}

ul li {
  display: inline;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 4rem;
  transition: 0.5s ease;
}

ul li a:hover {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.btn {
  padding: 10px 30px;
  border-radius: 100px;
  border: none;
  transition: 0.5s ease;
}

.btn-fill {
  background-color: var(--primary-color);
  color: var(--main-color);
}

.btn-fill:hover {
  background-color: var(--main-color);
  color: var(--primary-color);
  border: none;
}

/* header */
header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}

.content-ctn {
  margin-left: 6rem;
}

.main-head {
  font-size: 4rem;
  font-family: var(--main-font);
  margin-bottom: 2rem;
  color: #000;
}

.span {
  color: #a9b5a9;
}

.primary-head {
  max-width: 500px;
  font-family: sans-serif;
  line-height: 25px;
  margin-bottom: 2rem;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--main-color);
}

.header-img {
  background-color: var(--main-color);
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

.header-img img {
  width: 400px;
  height: 500px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.popularity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popularity div {
  margin-right: 5rem;
}

.popularity div h1 {
  font-size: 3rem;
  color: #363636;
  text-align: center;
  font-family: var(--main-font);
}

.popularity div p {
  color: #363636;
  font-family: sans-serif;
}

/* why us */
.why {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

.img-ctn {
  width: 400px;
  height: 400px;
  background-color: var(--main-color);
  border-radius: 100%;
}

.img-ctn img {
  width: 400px;
  height: 400px;
  background: fixed/center;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.card {
  width: 200px;
  height: 150px;
  padding: 20px;
  margin-top: 40px;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.card.card-fill {
  background: #e3e8e490;
  position: relative;
}

.card.card.card-fill .star {
  width: 10px;
  height: 10px;
  padding: 15px;
  border-radius: 100%;
  background: var(--primary-color);
  position: absolute;
  top: -15px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
}

.card h1 {
  color: black;
  font-family: sans-serif;
  font-size: 17px;
}

.card p {
  color: #999999;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 20px;
}


/* features */

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
  background-color: var(--primary-color);
  color: var(--main-color);
  height: 100vh;
}

footer .logo-ctn h1 {
  font-size: 4rem;
  font-family: var(--main-font);
  margin-bottom: 20px;
}

footer .logo-ctn p {
  max-width: 400px;
  font-family: sans-serif;
  line-height: 25px;
}

.about {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.about div {
  margin-right: 40px;
  margin-top: 20px;
}

.about h1 {
  margin-bottom: 50px;
}

.about p {
  margin-bottom: 20px;
}